<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.mapper.AirMapper">
    <!-- //查询空气质量的SQL扔mapper里
     List<AirMonitorInfo> findByDistrictId();-->
    <select id="findByDistrictId" resultType="com.msb.entity.AirMonitorInfo">
        select
            a.*,
            d.name as district_name
        from
            air_monitor_info a,
            district d
        where
            a.district_id = d.id
            <if test="districtId!=null">
                and a.district_id = #{districtId}
            </if>
    </select>

    <update id="updateById" parameterType="com.msb.entity.AirMonitorInfo">
        update air_monitor_info a
        <set>
            <if test="districtId != null">district_id = #{districtId},</if>
            <if test="monitorTime != null">monitor_time = #{monitorTime},</if>
            <if test="pm10 != null">pm10 = #{pm10},</if>
            <if test="pm25 != null">pm25 = #{pm25},</if>
            <if test="monitoringStation != null">monitoring_station = #{monitoringStation},</if>
        </set>
        where id = #{id}
    </update>
</mapper>